.business__detail__home {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.business__detail__home .swiper-button-prev {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(138, 135, 135, 0.582);
}

.business__detail__home .swiper-button-prev::after {
  color: black;
  font-size: 20px;
}

.business__detail__home .swiper-button-next {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 100px;
  right: 27px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(106, 108, 109, 0.582);
}

.business__detail__home .swiper-button-next::after {
  color: black;
  font-size: 20px;
}

.business__detail__home .view {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  gap: 10px;
}

.business__detail__home .view .left {
  width: 50%;
  height: 100%;
  position: relative;
  border-radius: 5px;
}

.business__detail__home .view .left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.business__detail__home .view .right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.business__detail__home .view .right__item {
  width: 48%;
  height: 48%;
  position: relative;
  border-radius: 5px;
}

.business__detail__home .view .right__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.business__detail__home .section__detail__one {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 20px;
  margin-top: 50px;
  position: relative;
}

.business__detail__home .section__detail__one > h1 {
  font-size: 23px;
  font-weight: bold;
}

.business__detail__home .section__detail__one > p {
  font-size: 17px;
}

.business__detail__home .section__detail__one__box1 {
  width: 75%;
  height: 300px;
  border-radius: 50px;
  border: 1px solid #dadddd;
  margin-top: 30px;
}

.business__detail__home .section__detail__one__box1 > h1 {
  border-bottom: 1px solid #dadddd;
  width: 100%;
  height: 70px;
  padding: 20px 40px;
  color: grey;
  font-size: 17px;
}

.business__detail__home .section__detail__one__box1 .box1__wrapper {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.business__detail__home .section__detail__one__box1 .box1__wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  gap: 15px;
}

.business__detail__home .section__detail__one__box1 .box1__wrapper__item .left {
  height: 100%;
}

.business__detail__home .section__detail__one__box1 .box1__wrapper__item .left svg {
  font-size: 30px;
  color: RGB(37 149 179);
}

.business__detail__home .section__detail__one__box1 .box1__wrapper__item .right h1 {
  font-size: 20px;
  font-weight: bold;
}

.business__detail__home .section__detail__one__box1 .box1__wrapper__item .right p {
  font-size: 17px;
}

.business__detail__home .section__detail__one .fixed__box {
  width: 260px;
  height: 500px;
  border-radius: 50px;
  border: 1px solid #dadddd;
  position: absolute;
  top: 0;
  right: 20px;
}

.business__detail__home .section__detail__one .fixed__box__item {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #dadddd;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.business__detail__home .section__detail__one .fixed__box__item:last-child {
  border-bottom: none !important;
}

.business__detail__home .section__detail__one .fixed__box__item .title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.business__detail__home .section__detail__one .fixed__box__item .active {
  font-size: 22px;
  font-weight: bold;
  color: RGB(37 149 179);
}

.business__detail__home .section__detail__two {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 20px;
  margin-top: 100px;
}

.business__detail__home .section__detail__two .section__two__main {
  width: 75%;
  height: 290px;
  border-radius: 50px;
  border: 1px solid #dadddd;
  margin-top: 30px;
}

.business__detail__home .section__detail__two .section__two__main table {
  padding: 15px;
}

.business__detail__home .section__detail__two .section__two__main tr {
  height: 50px;
  border-bottom: 1px solid #dadddd;
}

.business__detail__home .section__detail__two .section__two__main tr:last-child {
  border-bottom: none !important;
}

.business__detail__home .section__detail__two .section__two__main td {
  width: 200px;
  text-align: center;
}

.business__detail__home .section__detail__two .section__two__main > h1 {
  border-bottom: 1px solid #dadddd;
  width: 100%;
  height: 70px;
  padding: 20px 40px;
  color: grey;
  font-size: 19px;
  font-weight: bold;
}

.business__detail__home .section__detail__two .section__two__main__wrapper {
  width: 100%;
}

.business__detail__home .section__detail__three {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 80px 0;
  padding: 0 20px;
  margin-top: 100px;
}

.business__detail__home .section__detail__three__title {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 700;
  color: RGB(37 149 179);
}

.business__detail__home .section__detail__three__title::after {
  content: "";
  bottom: 0;
  left: 20px;
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: rgba(204, 206, 206, 0.452);
}

.business__detail__home .section__detail__three__title::before {
  content: "";
  bottom: 0;
  left: 20px;
  position: absolute;
  width: 220px;
  height: 2px;
  background-color: RGB(37 149 179);
}

.business__detail__home .section__detail__three .wrapper__all {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.business__detail__home .section__detail__three__wrapper {
  width: 75%;
  height: 150px;
  border-radius: 50px;
  border: 1px solid rgba(204, 206, 206, 0.452);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.business__detail__home .section__detail__three__wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.business__detail__home .section__detail__three__wrapper__item svg {
  color: RGB(37 149 179);
  font-size: 40px;
}

.business__detail__home .section__tick {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.business__detail__home .section__tick > h1 {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 700;
  color: RGB(37 149 179);
}

.business__detail__home .section__tick > h1::after {
  content: "";
  bottom: 0;
  left: 20px;
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: rgba(204, 206, 206, 0.452);
}

.business__detail__home .section__tick > h1::before {
  content: "";
  bottom: 0;
  left: 20px;
  position: absolute;
  width: 140px;
  height: 2px;
  background-color: RGB(37 149 179);
}

.business__detail__home .section__tick .wrapper__main {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  gap: 50px;
}

.business__detail__home .section__tick .wrapper__main h1 {
  font-weight: bold;
  font-size: 19px;
  margin: 20px 0;
}

.business__detail__home .section__tick .wrapper__main li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
}

.business__detail__home .section__tick .wrapper__main li svg {
  font-size: 25px;
  color: RGB(37 149 179);
}

.business__detail__home .section__detail__four {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}

.business__detail__home .section__detail__four__item {
  width: 32%;
  height: 460px;
  border: 1px solid rgba(207, 207, 207, 0.411);
}

.business__detail__home .section__detail__four__item img {
  width: 100%;
}

.business__detail__home .section__detail__four__item h1 {
  font-size: 25px;
  font-weight: 600;
  padding-left: 15px;
  margin-top: 10px;
}

.business__detail__home .section__detail__four__item p {
  font-size: 18px;
  font-weight: bold;
  color: grey;
  padding-left: 15px;
}

.business__detail__home .section__detail__four__item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  height: 40px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.411);
}

.business__detail__home .section__detail__four__item__price .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business__detail__home .section__detail__four__item__price svg {
  font-size: 30px;
  color: RGB(37 149 179);
}

.business__detail__home .section__detail__four__item__price .percentage {
  font-size: 18px;
  font-weight: bold;
  color: grey;
}

.business__detail__home .section__detail__four__item h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
}
